* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

/* Variables to more easily keep track of my colour scheme */
:root {
    --dark-bg-colour: #A98080;
    --medium-bg-colour: #c9adad;
    --light-bg-colour: #EDD; 
    --off-white: #FFF9F9; 
    --text-color: #4e3b3b;
}

html, body {
    height: 100%; 
    width: 100%; 
}

.bg {
    background-image: url('./images/bg-light-mode.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: fixed; 
    width: 100%;
    height: 100%; 
    overflow: scroll;
}

/* Mobile styling - general rules */ 

header {
    background-color: var(--dark-bg-colour);
    width: 100vw; 
    margin: 0 auto; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header>h1 {
    color: var(--off-white); 
    margin: 1.5rem auto; 
    text-align: center;
    font-family: "Major Mono Display";
    font-size: 2.5rem; 
}

header>h2 {
    color: var(--off-white); 
    font-family: "Major Mono Display";
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem; 
}

/* Making a hamburger menu for mobile version */

.ham-nav {
    background-color: var(--medium-bg-colour);
    min-height: 2rem; 
    max-height: 16rem;
    font-size: 1rem;
    width: 100vw; 
    margin: 0 auto; 
    display: flex; 
    justify-content: flex-start;
    position: sticky;
    top: 0; 
    z-index: 10; 
}

.ham-icon {
    font-size: 2rem;
    color: var(--off-white);
    padding: 1rem;
}

#hamburger {
    display: none;
}

.list-menu {
    display: none; 
}

#hamburger:checked ~ .list-menu {
    display: flex; 
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 100%; 
}

.list-menu>li {
    list-style: none;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-menu>li>a {
    text-decoration: none;
    font-family: "Major Mono Display";
    color: var(--off-white);
    padding: 1rem 2rem 1rem 2rem; 
    transition: background-color 0.5s, color 0.5s; 
    width: 10rem; 
}

.list-menu>li>a:hover {
    background-color: #ba9b9b;
    color: white;
}

#nav-active {
    background-color: var(--light-bg-colour);
    color: var(--dark-bg-colour);
}

article {
    background-color: var(--light-bg-colour);
    width: 100vw; 
    min-height: 40rem; 
    margin: 0 auto; 
    display: flex;  
    flex-wrap: wrap; /* So that it wraps for a mobile user */
    color: var(--text-color); 
}

p {
    padding: 1.5rem; 
    font-family: "Cutive Mono";
}

/* Index page styling */

.home-page {
    justify-content: center; 
    align-items: center; 
}

.home-page>h3, .profile>h3 {
    font-family: "Major Mono Display";
    padding: 1.5rem; 
}

.profile {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    flex-direction: column;
}

.about-list {
    list-style: circle;
    padding: 1rem; 
    margin: 0.5rem 1rem 0 1rem; 
}

.about-list>li {
    padding: 1rem 0 0 0;
    font-family: "Cutive Mono"; 
}

.main-content>h3 {
    font-family: "Major Mono Display";  
    padding: 1.5rem;
}


/* The wrapper is for making the image circular even though it's not square (otherwise it turns elliptical) */
.img-wrapper {
    width: 15rem; 
    height: 15rem; 
    border-radius: 50%; 
    overflow: hidden;
    margin: 0.5rem; 
}

.portrait {
    position: relative;
    top: -15px; /* Adjusting the image placement in the circle */ 
    max-width: 100%;
}

/* About me page styling */

.about-page {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.about-page>h3 {
    text-align: center;
    width: 100%; 
    font-family: "Major Mono Display";
    padding: 1.5rem;
}

.main-about {
    width: min(95%, 600px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%; 
    margin: 0 auto; 
}

.main-about>h3 {
    font-family: "Major Mono Display";
    padding: 1.5rem;
}


/* Portfolio page styling */

.gallery-container {
    padding: 1rem; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(6, 100px); 
    grid-gap: 1rem; 
    grid-auto-flow: dense; 
}

.gallery-card {
    overflow: hidden;
    transition: transform .2s; 
}

.gallery-card:hover {
    z-index: 100; 
    transform: scale(1.2); 
}

.gallery-card>h3 {
    font-family: "Cutive Mono";
    font-size: 0.8rem;
    max-width: 150px; 
    position: absolute; 
    z-index: 2; 
    padding: 0.5rem; 
    background-color: var(--off-white);
}

.gallery-card:nth-child(4n) {
    grid-column: span 2; 
    grid-row: span 2; 
}

.gallery-card>img {
    object-fit: cover;
    width: 100%; 
    height: auto; 
}


/* Experience and education page styling */

.cards-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--off-white);
    width: min(95%, 600px); 
    margin: 1rem 0; 
    box-shadow: -5px 5px 20px var(--dark-bg-colour);
}

.cards>h3 {
    border-bottom: 2px dotted var(--text-color);
}

.cards>h3, .cards>h4, .cards>p {
    font-family: "Cutive Mono";
    padding: 1.5rem; 
    text-align: center;
}

.cards-hidden {
    display: none;
}

.edu-cards-hidden {
    display: none;
}

.loader {
    width: 120px; 
    height: 120px; 
    border: 1rem solid var(--dark-bg-colour); 
    border-top: 1rem solid var(--light-bg-colour); 
    border-radius: 50%;
    animation: spin 2s linear infinite; 
    position: relative;
    top: -5rem; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer {
    background-color: var(--dark-bg-colour);
    width: 100vw; 
    padding: 1.5rem; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
}

footer>p {
    font-family: "Major Mono Display";
}


/* Desktop styling */

@media screen and (min-width: 935px) {
    /* General styling */
    header {
        /* Using the min function to make the webpage not stretch too far on wider screens */
        width: min(90vw, 1000px); 
        background-color: var(--dark-bg-colour);  
    }
    .ham-nav {
        width: min(90vw, 1000px); 
    }
    .ham-icon {
        display: none; 
    }
    .list-menu {
        display: grid; 
        grid-template-columns: repeat(5, 1fr);
        /* display: flex; 
        justify-content: space-evenly;
        align-items: center; */
        width: 100%; 
    }
    .list-menu>li {
        width: 100%; 
    }
    .list-menu>li>a {
        width: 100%; 
        font-size: 1rem;
        text-align: center;
        padding-top: 2rem; 
        padding-bottom: 2rem; 
    }
    article {
        width: min(90vw, 1000px); 
    }
    
    /* Index page styling */
    @media (prefers-color-scheme: dark) {
        .home-page>h3 {
            border-bottom: 2px dotted #d67a7a;
        }
        .index-profile {
            border-left: 2px dotted #d67a7a;
        }
    }
    .home-page {
        display: grid; 
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 7fr; 
        grid-template-areas: 
        "header header"
        "left-column right-column";
    }
    .home-page>h3 {
        grid-area: header; 
        text-align: center;
        border-bottom: 2px dotted var(--off-white);
    }
    .index-profile {
        grid-area: right-column; 
        padding: 1rem; 
        justify-content: flex-start;
        border-left: 2px dotted var(--off-white);
    }
    .main-content {
        grid-area: left-column; 
        padding: 1rem; 
    }
    /* About me page styling */

    .main-about {
        width: 75%; 
    }

    /* Portfolio page styling */

    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(6, 200px);
    }

    .gallery-card>h3 {
        font-size: 1.2rem;
    }

    .gallery-card:nth-child(4n) {
        grid-column: span 2; 
        grid-row: span 2; 
    }
    
    .gallery-card:nth-child(8n) {
        grid-column: span 3; 
        grid-row: span 3; 
    }

    footer {
        width: min(90vw, 1000px); 
    }
}

/* Dark color scheme */

@media (prefers-color-scheme: dark) {
    .bg {
        background-image: url('./images/bg-dark-mode.jpeg'); 
    }
    header {
        background-color: #100000;
    }
    header>h1, header>h2 {
        color: #d44848;
    }
    .ham-nav {
        background-color: #240303;
    }
    .list-menu>li>a {
        color: #d67a7a;
        transition: background-color 0.5s, color 0.5s; 
    }
    .list-menu>li>a:hover {
        background-color: #3d0707;
        color: #e06464;
    }
    
    #nav-active {
        background-color: #561F1F;
        color: #e48787; 
    }
    .main-content:before {
        content: "You're currently using dark mode."; 
        padding-left: 1.5rem; 
        font-family: "Cutive Mono";
        font-size: 1.5rem;
    }
    article {
        background-color: #561F1F;
        color: #d67a7a;
    }
    @media screen and (min-width: 935px) {
        .home-page>h3 {
            border-bottom: 2px dotted #d67a7a;
        }
        .index-profile {
            border-left: 2px dotted #d67a7a;
        }
    }
    .loader {
        border: 1rem solid #df3939; 
        border-top: 1rem solid #561F1F;
    }
    .gallery-card>h3 {
        background-color: #561F1F;
        color: #d67a7a;
    }
    .cards>h3 {
        border-bottom: 2px dotted #d67a7a;
    }
    .cards {
        background-color: #6D3737;
        box-shadow: -5px 5px 20px #240303;
    }
    footer {
        background-color: #100000;
        color: #6D3737;
    }
}
@media (prefers-color-scheme: light) {
    .main-content:before {
        content: "You're currently using light mode."; 
        padding-left: 1.5rem; 
        font-size: 1.5rem;
        font-family: "Cutive Mono";
    }
}